%h1{style: 'margin-top: 2em; margin-left:1.3em;'} Noteshare

.div{style: 'margin-left:4em; background-color: #ddd; padding: 2em; max-width:200px; '}

  %p <a href="http://localhost:2300/documents">Documents</a>
  %br/
  %p.compact.subheading Lotus
  %p.compact <a href="http://lotusrb.org">Website</a>
  %p.compact <a href="http://www.rubydoc.info/gems/lotusrb">Lotus API Docs</a>
  %p.compact <a href="http://lotusrb.org/guides/">Lotus Guides</a>
  %p.compact <a href="https://github.com/lotus/lotus">Source Code</a>
  %p.compact <a href="https://gitter.im/lotus/chat">Chat</a>