
== edit_toc_link(document)
| &nbsp;
== move_section_to_level_of_parent_link(document)
== move_section_to_child_level_link(document)
== move_up_in_toc_link(document)
== move_down_in_toc_link(document)
br
br


