button.popup2_hide.popup_button X
br
br
h5 Images
| To insert an image, first click on the "mountain"
|  icon to upload it.  Once this is done,
|  the text "insert ID" appears in the button
|  to the right the mountain icon.  Here ID
|  is the ID number of the image. Put the
|  cursor where you want to insert the image,
|  and click on the "insert ID" button

h5 Updating
| When you type in the left-hand blue "source text"
|  window, the rendered text is updated
|  in the right-hand white "rendered text" window.
|  By default this happens after three seconds.
|  When your source text is long and/or complicated,
|  you may wish to update less frequently.  To to this,
|  move the slider (upper left) to the right.
br
br
| You may also update manually using the Update button
|  in the lower left.
