
== settings_link(document)
| &nbsp; &nbsp;
== section_settings_link(document)
| &nbsp; &nbsp;
== check_in_out_link(document)

| &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
| &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
== delete_section_link(document)
| &nbsp;&nbsp; &nbsp;
== new_document_link
| &nbsp;&nbsp;
| &nbsp;
== delete_document_link(document)
| &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp

| &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp
== export_link(document)
| &nbsp;&nbsp; &nbsp;
- if current_user(session).admin
  == get_document_link(document)
  |  &nbsp;&nbsp;
  == put_document_link(document)

button.popup_hide.popup_button X