- if document
  .document{style: ''}
  .row
    .col.source{style: ''}
      =form_for :document,  '/editor/document' do
        %text_field :content
        %submit 'Create'
    .col.rendered{style: ''}
      = document.rendered_content    # = document.compiled_and_rendered_content
- else
  %p.placeholder Document not found.
