<div class='row'>
   <div class='col source'>

     <%=
         form_for :document, '/editor/update', remote: true do
           div class: 'input source_input', hohoho: 'foobar'   do
             text_area :updated_text, document.content
           end

           div class: 'input' do
             hidden_field  document.id
           end

           div class: 'controls' do
             submit 'update'
           end
         end
     %>

   </div>

  <div class='col rendered'>

    <%= document.rendered_content %>

  </div>



</div>

