- if documents.any?
  .document
    .row{style: 'overflow-y: scroll;  height:100%; padding-left:1em; padding-right:1em;overflow-y:scroll'}
      %table{:style => 'margin-left:3em; margin-right:3em'}
        %thead
          %tr
            %th Title
            %th Root
            %th Author
        %tbody
          - documents.each do |document|
            %tr
              %td= document.link
              %td= document.root_link
              %td= document.author

- else
  %p.placeholder There are no documents yet.


