<h2>Add Document</h2>

<%=
    form_for :document, '/editor/documents' do
      div class: 'input' do
        label      :title
        text_field :title
      end

      div class: 'input' do
        label      :author
        text_field :author
      end


      div class: 'input' do
        label       :text
        text_area   :content
      end

      div class: 'controls' do
        submit 'Create document'
      end
    end
%>

