
<div class='col inset left_medium'>

  <h4 style='margin-top:40px;'> Add Document</h4>

  <%= form_for :document, '/editor/documents' do
    div class: 'input input2' do
      label      :title
      text_field :title
    end

    div class: 'input' do
      label      :author
      text_field :author
    end

    div class: 'input' do
        label       :text
        text_area   :content, {class: 'textarea height_small' }
      end

    div class: 'controls' do
      submit 'Create document'
    end
  end %>

</div>