

%h2{style: 'margin-top:40px;'} Add Document



:erb
  <%= form_for :document, '/editor/documents' do
    div class: 'input input2' do
      label      :title
      text_field :title
    end

    div class: 'input source_input' do
      label      :author
      text_field :author
    end

    div class: 'input' do
        label       :text
        text_area   :content
      end

    div class: 'controls' do
      submit 'Create document'
    end
  end %>