!!!
%html
  %head
    %title Noteshare Editor !!!!!!
    %link{:href => 'http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css', :rel => 'stylesheet'}/
    /%link{:href => "/stylesheets/materialize.css", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/asciidoctor.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}/
    / Let browser know website is optimized for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/


    %script{:type => "text/x-mathjax-config"}
    :cdata
      MathJax.Hub.Config({
      tex2jax: {
      inlineMath: [["\\(", "\\)"]],
      displayMath: [["\\[", "\\]"]],
      ignoreClass: "nostem|nolatexmath"
      },
      asciimath2jax: {
      delimiters: [["\\$", "\\$"]],
      ignoreClass: "nostem|noasciimath"
      },
      TeX: { extensions: ["mhchem.js"] }
      });

    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.4.0/MathJax.js?config=TeX-MML-AM_HTMLorMML"}
  %body
    %script{:src => "https://code.jquery.com/jquery-2.1.1.min.js", :type => "text/javascript"}
    .nav
    .row{style: 'height: 100%;'}
      = yield

    .footer
      %p{style: 'margin-left:6em;'}
        Crafffted with
        %span.heart â¤
        by
        %a{:href => "http:/noteshare.io/"} James Carlson
        \- New York City
