!!!
%html
  %head
    %title Noteshare
    %link{:href => "/stylesheets/min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/asciidoctor.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => 'http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css', :rel => 'stylesheet'}/

    %script{:type => "text/x-mathjax-config"}
    :cdata
      MathJax.Hub.Config({
      tex2jax: {
      inlineMath: [["\\(", "\\)"]],
      displayMath: [["\\[", "\\]"]],
      ignoreClass: "nostem|nolatexmath"
      },
      asciimath2jax: {
      delimiters: [["\\$", "\\$"]],
      ignoreClass: "nostem|noasciimath"
      },
      TeX: { extensions: ["mhchem.js"] }
      });

    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.4.0/MathJax.js?config=TeX-MML-AM_HTMLorMML"}
  %body
    %header
      .paddings
        %a.logo{:href => "/"} Noteshare
        %nav
          %a{:href => "/"} Home
  %main
    .paddings
      %article= yield
  %footer
    .paddings
      %p
        Crafted with
        %span.heart â¤
        by
        %a{:href => "http:/noteshare.io/"} James Carlson
        \- New York City
