- if documents.any?
  .document.inset
    %h4 Documents
    .row.s8
      .col{style: 'overflow-y: scroll;  height:80%;padding-left:1em; padding-right:1em;padding-bottom:3em;'}
        %table{:style => ''}
          %thead
            %tr
              %th Title
              /%th Section
              %th Author
          %tbody
            - documents.each do |document|
              %tr
                %td= document.root_link
                /%td= document.link
                %td= document.author

- else
  %p.placeholder There are no documents yet.


