
.row.inset
  .col
    = search_form
- if documents
  .row.s8{style: 'margin-top:100px; padding-left:1em; padding-right:1em;overflow-y:scroll'}
    .col{style: ''}
      .div{style: 'height:400px; overflow-y:scroll; padding-bottom:3em;'}
        %table{:style => ''}
          %thead
            %tr
              %th Title
              /%th Section
              %th Author
          %tbody
            - documents.each do |document|
              %tr
                %td= document.root_link
                /%td= document.link
                %td= document.author




