span.term { color:blue; }
span.red  { color: darkred; }
span.blue { color:blue; }





span.exercise { color:slateblue; font-weight:bold; font-size:11pt;}

span.image {margin-left: 0.5em; margin-right: 0.5em; }

.imageblock.left, .imageblock[style*="float: left"] { margin: 0.25em 0.625em -0.00em 0em; }

.imageblock.right, .imageblock[style*="float: right"] { margin: 0.25em 0 1.25em 0.625em; }

.sidebarblock {
    width:300px;
    margin-left:10px;
    margin-right:-100px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    background-color: #eee;
}

.tableblock {
    margin-top:0;
    margin-bottom:0;
}

.table-header {
    background-color: #bfc0c0;
}

.indent { margin-left:3em; }


.verseblock {

    white-space: pre-line;
}

pre.content {
    border: 0;
    background-color: #fff;
}



.openblock.click.title {color: blue;}
.openblock.content.paragraph{
    font-style: oblique;
    margin-top:0;
    margin-bottom: 2em;
}

.openblock.comment.title { color: blue; }
.openblock.comment.content.paragraph {
    font-style: oblique;
}


.openblock.verse2 {

    white-space: pre-line;

}


.openblock.verse2.content.paragraph {

    margin-bottom: -35px;

}


.imageblock.text-center > .title {
     text-align: center !important;
 }
.imageblock.text-right > .title {
     text-align: right !important;
 }



.toc_element {
    font-stretch: expanded; }

/* BOX */

.openblock.box {
    margin-top:1em;
    margin-bottom: 1em;
    margin-left:3em;
    margin-right:4em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 1em;
    font-size: 0.85em;
    background-color: #ddd;
}


/* CAPSULE */



.openblock.theorem {

    margin-bottom: 1em;
    font-style: oblique;
}


/* CLICK BLOCK */

.click_oblique {

    line-height:1.5em;
    font-size:1.05em;
    font-style:oblique;
    margin-bottom:1.5em
}

.click_plain {

    line-height:1.5em;
    font-size:1.05em;
    margin-bottom:1.5em;
}

/* CLICK BLOCK */


.openblock.click { margin-top:-0.75em; margin-bottom: 1em; }
.openblock.click.title { color: blue; }
.openblock.click.paragraph { font-style: oblique; }


/* COMMENT */

.openblock.comment.title { color: blue }
.openblock.comment.content.paragraph { font-style: oblique; }



/* CAPSULE */

.openblock.capsule {
    margin-top:3em;
    margin-bottom:2em;
    line-height:1.3em;
    margin-left:50%;
    font-size: 1.1em;
    font-style:oblique;
}


.openblock.capsule.content {




}


.openblock.texmacro.content {

    display:none;
}

.openblock.texmacro {

    display:none;
}



/* Equation Style */


.equation_row_style {

    border-collapse: collapse;
    border:0;
    font-size: 12pt;
}

.equation_table_style {

    width:100%;
    border-collapse:collapse;
    border:0
}

.equation_number_style {

    text-align:right;
}

.equation_content_style {

    width:100%;

}


/* XREF noteshare */

.xref {

    text-decoration:none;

}

#_dummyoutersection { display: none; }

.glossterm {

    color: darkred;
}

/* use for targets of index items */
.invisible {
    color: #fff;
    font-size: 1pt;
}


.index_style ul {

    list-style-type: none;
    padding:0;
    margin:0;
    margin-left:1em;
}

.index_style p {

    padding:0;
    margin:0;
    line-height: 1.4em;
    font-size:1.0em;
}


.index_style .title {

    font-weight:bold;
    margin-top:1em;
}

#publisher {

    font-size: 9pt;
    margin-top:-1.35em;
    color: #555;
}

#simple_publisher {

    font-size: 9pt;
    margin-top:-1.35em;
    color: #555;
}

.toc_public { font-style: normal; }
.toc_private { font-style: italic; }

table.center {
    margin-left:auto;
    margin-right:auto;
}

.glossary_table_style tr { height: 1em; }

.glossary_table_style.tableblock{ height: 1em; font-size:0.9em; margin-top:-0.30em; }



