

/***  CONTENTS

  - STRUCTURE
  - NAVIGATION BAR
  - EDITOR
  - FOOTER
  - TABLE OF CONTENTS
  - OTHER


***/

.ulist {

    margin-left: 1.5em;
}

.scroll-y {

    overflow-y:scroll;
    height: 100%;
}

.toc_associated_doc ul {

     margin-left: 3em;
     padding-left: 3em;
     margin-top:0;
 }

.toc_associated_doc li  {

    margin-top:0 !important;
    margin-bottom:0 !important;
    margin-left: 0.5em !important;
    font-size:11pt;
}



.toc_associated_doc a {

    text-decoration: none !important;
}

.toc_associated_doc a:visited {

    color: lightskyblue;
}


.toc_associated_doc a:visited {

    color: lightskyblue;
}


.toc_associated_doc a:hover {

    color: yellow;

}

/********/

tr.clear_style:nth-child(even)  {

    background-color: #444;
    color: #fff;
}

tr.clear_style:nth-child(odd)  {

    background-color: #444;
    color: #fff;
}

td.clear_style {

    border: 0;
    border-color: #444;
}

.clear_style > td {

    color: #fff;
}


.plainlink a {

    text-decoration: none;
}

.lightlink a {

    color: white;
}


.lightlink a:hover {

    color: red;

}

.redlink a {
     /* color: #ba3925; */
    color: #da3925;
    text-decoration:none;
}

.redlink a:hover {

    color: orange;

}

.red {

    color: #ea3925;
}



.no_underline_link a {

    text-decoration:none;
}


.inset_left{

    margin-left:2em;
}

.inset_top{

    margin-top:2em;  /* 2em */
}


.ns_card {

    background-color: rgba(10,10,10,0.67);
    padding-left: 2em;
    padding-right: 2em;
    padding-top:2em;
    padding-bottom:1em;

    /** width:inherit;  **/
    color: #eee;

}

.ns_card.darker {

    background-color: rgba(10,10,10,0.70);
}

.ns_card h4, h5   {

    color: #fff;
}

.ns_card a {

    text-decoration: none;
    color: #fff;
}

.ns_card textarea {

    background-color: rgba(5,5,5,0.67);
    margin-top:0.5em;
    height:200px;
}

.ns_card button {

    background-color: lightseagreen;
    margin-top:1em;
    margin-right:1em;
}

.right_margin1em {

    margin-right:1em
}

.ns_card table {

    background-color: transparent;
    border: none;
}

.ns_card tr:nth-child(even)  {

    background-color: transparent;
    color: #fff;
}



.ns_card tr:nth-child(odd)  {

    background-color: transparent;
    color: #fff;
}

.ns_card td  {

    color: #eee;
    background-color: transparent;
}

.ns_card th  {

    background-color: transparent;
    color: #eee;
}

.ns_card .openblock .title   {

    color: orangered !important;
}

.paragraph.big_heading p {

    font-size: 20pt;
    color: orangered;
}
/***

    STRUCTURE: body, row, col, etc.

***/

body {
    position:absolute;
    left:0; right:0;
    bottom:0; top:0;
    width:100%; height:100%;
    overflow:hidden ;
    /* background-color: #F7FEE7; */
    background-color: transparent;
    background-image: url("http://vschool.s3.amazonaws.com/public/library1.jpg");
    /* background: url("http://vschool.s3.amazonaws.com/public/library1.jpg"); */
}


.main_row {

    position:absolute;
    left:0;
    right:0;
    top: 40px;
    bottom: 0;
}


ul {
    list-style:none;
    padding-left: 0;
    margin-left: 0;
}​


.row{
    position:absolute;
    left:0;
    right:0;
 }


 .col{

     position: absolute;

 }

 .col.left_medium {

     width: 50%;
 }

 .inset {

     margin: 2em;
     margin-top:4.5em;  /* 4.5em */
 }


.col.tools {

    left:0;
    width:20%;
    top:40px;
    background-color:#444;
    overflow-y: scroll;
    background-color: #eee;
    padding:1em;
    height: 100%;

}


.col.source {

    left:20%;
    width:40%;
    top:40px;
    whitespace: pre-wrap;
    overflow-y: scroll;
    background-color: #eee;
    height: 100%;

}


.source_text {

    background-color: lavenderblush;
}


.col.rendered {

    left: 60%;
    width: 40%;
    top:40px;
    overflow-y: scroll;
    background-color: #fff;
    padding-left:2em;
    height: 100%;
    padding-top:2em;
    padding-bottom: 6em;

}


 .col.left {

     overflow-y: scroll;
     background-color: #eee;
     padding:1em;
     height: 100%;

 }

.col.middle {

    overflow-y: scroll;
    background-color: #fff;
    padding-left:2em;
    height: 100%;

}

.sect1.h2 {

    font-size:18pt;
}



/* NAVIGATION BAR */

.nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background-color:#000;
    color: #ccc;
}

#navlist ul
{

    list-style-type: none;
    padding-right: 20px;
}

#navlist li {

    display: inline;
    padding-right:1em;
}

#navlist li a
{

    color: #eee;
    text-decoration: none;
}


.navbar_left_item {

    position: absolute;
    left:1em;
    top: 12px;
    width:40%;
    display:inline-block;

}

.navbar_left_item a {

    color: #eee;
    text-decoration: none;
}

.navbar_middle_item {

    position: absolute;
    left:50%;
    top: 10px;
    width:30%;
    display:inline-block;

}

.navbar_middle_item a {

    text-decoration: none;
    color: white;
}

.navbar_right_item {

    position: absolute;
    right: 2em;
    top: 8px;
    width: 30%;
    display: inline-block;

}

.navbar_right_item2 {

    position: absolute;
    right: 1em;
    top:3px;
    display: inline-block;

}

/* EDITOR */

.editor_input {

    padding-bottom:1000px;
}

.source_input {

    width: 100%;
    height: 500%;
}


textarea {
    height: 1000px;
    width: 100%;
    padding:1em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color: #e1f5fe;
    outline: none;
}

.textarea.height_small {


    height:300px;
}

.text_field {

    margin-top: 15px;
    margin_left: 150px;
}

.label {

    width: 80px;
}

.label.space {

    margin-top: 30px;

}



/** FOOTER **/

.footer {

    position: absolute;
    left:0; right:0;
    bottom:0;
    height:40px;
    background-color:#000;
    padding-left:2em;
    padding-top:8px;
    color: #ccc;
}



.footer_button_1 {
    position: fixed;
    bottom:8px;
    left:2em;
    z-index: 400;
    color: red;

  }

.footer_item_right {
    position: absolute;
    bottom: 10px;
    right: 2em;
    z-index: 400;
    color: red;

}

.footer_item_center {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 400;
    color: #eee;

}


/*** TABLE OF CONTENTS ***/

.dragula_toc {

    margin-bottom: 1em;
    margin-left: 0;
}

ul.toc {
    list-style:none;
    padding-left:20px;
    margin-left: 20px;
}​


.toc ul {

    padding-left: 0.25em;
    margin-left: 0.25em;
}


/* https://css-tricks.com/almanac/properties/l/list-style/ */
/* .toc > li { list-style-type: square; } */
/* http://stackoverflow.com/questions/5306640/setting-bullet-colors-in-ul-li-lists-via-css-without-using-images-or-span-tags */
/*  http://fontawesome.io/cheatsheet/ */


/* triangle pointing to the right */
.toc li.subdocs-yes:before  {
    content: "\f0da";
    font-family: FontAwesome;
    font-size:18px;
    color: slateblue; /* or whatever color you prefer */
    margin-right:0.3em;
    /* alignment-baseline:-4px; */
}


/* square */
.toc li.subdocs-no:before  {
    content: "\f0c8";
    font-family: FontAwesome;
    font-size:8px;
    color: slateblue; /* or whatever color you prefer */
    margin-right:1.0em;
    /* alignment-baseline:-4px; */
}

/* triangle down */
.toc li.subdocs-open:before  {
    content: "\f0d7";
    font-family: FontAwesome;
    font-size:18px;
    color: slateblue; /* or whatever color you prefer */
    margin-right:1.0em;
    /* alignment-baseline:-4px; */
}



.toc .active > a {

    color: kred;
    text-decoration: none;
}

.toc .inactive > a {

    color: blue;
    text-decoration: none;
}

/*** TABLE OF CONTENTS 2 ***/

.toc2 { margin-left: 1em; margin-bottom:120px;}

.toc2 ul {

    /* padding-left: 0.25em;
    margin-left: 0.25em;
    */
    list-style: none;
    margin-left: 0;
    padding-left: 0.50em;
    text-indent: -1.0em;
}


/* https://css-tricks.com/almanac/properties/l/list-style/ */
/* .toc > li { list-style-type: square; } */
/* http://stackoverflow.com/questions/5306640/setting-bullet-colors-in-ul-li-lists-via-css-without-using-images-or-span-tags */
/*  http://fontawesome.io/cheatsheet/ */


/* triangle pointing to the right */
.toc2 li.subdocs-yes:before  {
    content: "\f0da";
    font-family: FontAwesome;
    font-size:18px;
    color: white; /* or whatever color you prefer */
    margin-right:0.3em;
    /* alignment-baseline:-4px; */
}

/* square */
.toc2 li.subdocs-no:before  {
    content: "\f0c8";
    font-family: FontAwesome;
    font-size:8px;
    color: white; /* or whatever color you prefer */
    margin-right:1.0em;
    /* alignment-baseline:-4px; */
}

/* triangle down */
.toc2 li.subdocs-open:before  {
    content: "\f0d7";
    font-family: FontAwesome;
    font-size:18px;
    color: white; /* or whatever color you prefer */
    margin-right:1.0em;
    /* alignment-baseline:-4px; */
}

.toc2 .active > a {

    color: indianred;
    text-decoration: none;
}

.toc2 .inactive > a {

    color: #eee;
    text-decoration: none;
}

.toc2 .null > a {

    color: #ccc;
    text-decoration: none;
}


.toc2 a {

    text_decoration: none;
    color: white;
}

.inner_toc  ul {

    list-style: none;
    margin-bottom:0;
    padding-left:1em;

}

.inner_toc li  {

    font-size:15px;
    color: #eee; /* or whatever color you prefer */
    margin-left: -0.3em;
    padding-left:  -0em;
    text-indent: -0.1em;

}

.inner_toc > li a {

    color: white;
    text-decoration: none;
}


/*** OTHER ***/

.message a {

    text-decoration: underline;
}


.heart {

    margin-left:0.5em;
    margin-top:-0.1em;

}


/***  inline ***/

p.subheading{

    font-size:larger;
}

p.compact {

    margin-bottom:0;
}


.color1 {

    background-color: palegreen;
}


/*** SEARCH FORMS ****/


.basic_search_form2 {

    position:absolute;
    top:-6px; left:100px;;
    padding-left: 20px;
    placeholder: Search for;
    color: white;
    background-color: #444;
    height: 28px;
    width:380px;
}

#basic_search_form {

    position:absolute;
    top:-6px; left:112px;
    padding-left: 20px;
    placeholder: Search for;
    color: white;
    background-color: #444;
    height: 28px; width:380px;

}

#command_form {

    position:absolute;
    left:40px;
    padding-left: 20px;
    placeholder: 'Search for';
    color: black;
    background-color: #eee;
    height: 28px; width:750px;

}


#command_form_node {

    position:absolute;
    left:30px;
    bottom: -10px;
    z-index:10;
    padding-left: 20px;
    placeholder: 'command ...';
    color: white;
    background-color: #444;
    height: 28px; width:45%;

}


.basic_search_form_short {

    position:absolute;
    top:-6px; left:300px;;
    padding-left: 20px;
    placeholder: Search for;
    color: white;
    background-color: #444;
    height: 28px;
    width:180px;
}


.image table {

    border: none;
}

.image_table  tr:nth-child(even) {
    background: #333;
    color: white;
    border: none;
}


.image_table  tr:nth-child(odd) {
    background: #333;
    color: white;
}


.image_table   a { color: white;}

.image_table   td {

    color: white;
    height:40px;
}

.image_table   th { color: white;}

.image_editor {

    color: white;

}

.top_margin2 {

    margin-top:2em;
}

.ns_highlight { color: #ef3030; }


.ns_radio {

    color: red;
    backgrond-color:blue;
    display: inline;
}


/*******   MENU    *********/

.active_item {

    font-weight: 900;
    background-color: darkred;
    padding: 0.4em;
}

.active_item > a {

    text-decoration: underline;
}

.active_item2 {

    font-weight: 900;
    background-color: #711;
    padding: 0.4em;
}

.item2 {

    color: white;
    padding: 0.4em;
}

.item2black {

    color: white;
    padding: 0.4em;
    background-color: #111;
}

.active_item2 > a {

    text-decoration: underline;

}

#slider {

    color: yellow;
    background-color: red;
    z-index: 100;
}

label {
    color: #eee;
}

#search_type_selector-form label {
    color: #222;
}

.user_setup_form label{

    color: white;
    margin-bottom:0;
}

.user_setup_form input{

    margin-top:0;padding-top: 0;
}

#schrodxxx .equation_content_style {

    margin-top:0 !important;
    font-size: 20pt     !important;
}



.bibliography ul li  {

    list-style:none;
    padding:0;


}


.index ul li  {

    list-style:none;


}


.user_setup_form label {

    margin-top:0;



}

.user_setup_form input {

    margin-bottom:0.25em;
    height: 2.5em;

}

.edit_control_button {

    position: absolute; bottom:4px; padding-top:7px; padding-left:0.5em; height: 25px; z-index:100;
}

.edit_control_button a {

    text-decoration: none !important;
    color: white;
}




.top_ribbon_button {

    margin-right:2em;
}

.ribbon {

     background-color: rgba(10,10,50,0.77);
     padding-left: 2em;
     padding-right: 2em;
     padding-top:6px;
     height:30px;

     /** width:inherit;  **/
     color: #eee;

 }

.bottom_ribbon {

    background-color: rgba(10,10,50,0.77);
    padding-left: 2em;
    padding-right: 2em;
    padding-top:6px;
    height:35px;

    /** width:inherit;  **/
    color: #eee;

}

#node_blurb > h1, h2, h3, h4, h5 {

    /* color: orangered; */

}

.heading_color {  color: darkred  }


.command1 {  position: absolute; left: 40px;}
.command2 {  position: absolute; left: 160px;}
.command3 {  position: absolute; left: 280px;}
.command4 {  position: absolute; left: 400px;}
.command5 {  position: absolute; left: 520px;}

.overlay {

    position:absolute;
    left:100px;
    right:100px;
    width: 400px;
    height: 400px;
    background-color: rgba(10,10,10,0.67);
    padding: 2em;
    padding-right: 2em;
    color: #eee;
}

.popup {

    position:absolute;
    left:100px;
    right:100px;
    width: 400px;
    height: 400px;
    background-color: rgba(10,10,10,0.67);
    padding: 2em;
    padding-right: 2em;
    color: #eee;
}

.popup2 {

    position:absolute;
    left:100px;
    right:100px;
    width: 400px;
    height: 400px;
    background-color: rgba(10,10,10,0.67);
    padding: 2em;
    padding-right: 2em;
    color: #eee;
}

.popup_button {

    background-color: rgba(10,10,10,0.0);
    color: white;
}

.close_popup_button {

    background-color: #eee;
    color: black;
    float: right;
}

.radio_label { font-size: 13pt; margin-left:1.3em; margin-right:0.2em;  }