
body {
    position:absolute;
    left:0; right:0;
    bottom:0; top:0;
    width:100%; height:100%;
    overflow:hidden ;
}


.footer {

    position: absolute;
    left:0; right:0;
    bottom:0;
    height:40px;
    background-color:#000;
    padding-left:2em;
    padding-top:8px;
    color: #ccc;
 }


ul {
    list-style:none;
    padding-left: 0;
    margin-left: 0;
}​

.row{
    position:absolute;
    left:0;
    right:0;
 }

 .col{

     position: absolute;

 }


.col.source {

    width:50%;
    top:40px;
    whitespace: pre-wrap;
    overflow-y: scroll;
    background-color: #eee;
    padding:1em;
    height: 100%;

}


.col.rendered {

    left: 50%;
    width: 50%;
    top:40px;
    overflow-y: scroll;
    background-color: #fff;
    padding-left:2em;
    height: 100%;

}


 .col.left {

     overflow-y: scroll;
     background-color: #eee;
     padding:1em;
     height: 100%;

 }

.col.middle {

    overflow-y: scroll;
    background-color: #fff;
    padding-left:2em;
    height: 100%;

}

.sect1.h2 {

    font-size:18pt;
}

.source_input {

    background-color: #e1f5fe;
    width: 500px;
    height: 500px;
}


/* NAVIGATION BAR */

.nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background-color:#000;
    color: #ccc;
}

#navlist li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}


.navbar_left_item {

    position: absolute;
    left:2em;
    top: 12px;
    width:30%;
    display:inline-block;

}

.navbar_middle_item {

    position: absolute;
    left:50%;
    top: 8px;
    width:30%;
    display:inline-block;

}

.navbar_right_item {

    position: absolute;
    right: 2em;
    top: 8px;
    width: 30%;
    display: inline-block;

}
